## Preprocessing

In [25]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [26]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [27]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [30]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df["APPLICATION_TYPE"].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [29]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts[application_type_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [31]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df["CLASSIFICATION"].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [33]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [35]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [36]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"]

# Define feature variables
X = application_df.drop(columns=["IS_SUCCESSFUL"])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

# Display shapes of training and testing sets
X_train.shape, X_test.shape

((25724, 43), (8575, 43))

In [37]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [38]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train.shape[1]

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [39]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Defining a callback to save model weights every 5 epochs
checkpoint_path = "AlphabetSoupCharity.h5"
checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(filepath=checkpoint_path, save_weights_only=True, save_freq=5)

In [40]:
# Train the model
history = nn_model.fit(X_train_scaled, y_train, epochs=50, validation_data=(X_test_scaled, y_test), callbacks=[checkpoint_callback])

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5728 - accuracy: 0.7181 - val_loss: 0.5626 - val_accuracy: 0.7265
Epoch 2/50
804/804 [==============================] - 1s 890us/step - loss: 0.5548 - accuracy: 0.7270 - val_loss: 0.5613 - val_accuracy: 0.7247
Epoch 3/50
804/804 [==============================] - 1s 854us/step - loss: 0.5530 - accuracy: 0.7295 - val_loss: 0.5599 - val_accuracy: 0.7269
Epoch 4/50
804/804 [==============================] - 1s 891us/step - loss: 0.5514 - accuracy: 0.7306 - val_loss: 0.5556 - val_accuracy: 0.7273
Epoch 5/50
804/804 [==============================] - 1s 874us/step - loss: 0.5484 - accuracy: 0.7315 - val_loss: 0.5563 - val_accuracy: 0.7278
Epoch 6/50
804/804 [==============================] - 1s 912us/step - loss: 0.5479 - accuracy: 0.7337 - val_loss: 0.5568 - val_accuracy: 0.7257
Epoch 7/50
804/804 [==============================] - 1s 939us/step - loss: 0.5473 - accuracy: 0.7331 - val_loss: 0.5570 - val_accuracy: 0.7303
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7332 - val_loss: 0.5547 - val_accuracy: 0.7292
Epoch 9/50
804/804 [==============================] - 1s 875us/step - loss: 0.5462 - accuracy: 0.7334 - val_loss: 0.5571 - val_accuracy: 0.7270
Epoch 10/50
804/804 [==============================] - 1s 862us/step - loss: 0.5455 - accuracy: 0.7337 - val_loss: 0.5587 - val_accuracy: 0.7266
Epoch 11/50
804/804 [==============================] - 1s 895us/step - loss: 0.5450 - accuracy: 0.7337 - val_loss: 0.5566 - val_accuracy: 0.7223
Epoch 12/50
804/804 [==============================] - 1s 853us/step - loss: 0.5448 - accuracy: 0.7333 - val_loss: 0.5533 - val_accuracy: 0.7287
Epoch 13/50
804/804 [==============================] - 1s 863us/step - loss: 0.5436 - accuracy: 0.7349 - val_loss: 0.5561 - val_accuracy: 0.7312
Epoch 14/50
804/804 [==============================] - 1s 851us/step - loss: 0.5443 - accuracy: 0.7331 - val_loss: 0.5547 - val_accuracy: 0.7293
Epoch 15/50
804/804 [==============================] - 1s 910us/step - loss: 0.5432 - accuracy: 0.7362 - val_loss: 0.5565 - val_accuracy: 0.7303
Epoch 16/50
804/804 [==============================] - 1s 864us/step - loss: 0.5432 - accuracy: 0.7334 - val_loss: 0.5559 - val_accuracy: 0.7287
Epoch 17/50
804/804 [==============================] - 1s 896us/step - loss: 0.5426 - accuracy: 0.7363 - val_loss: 0.5534 - val_accuracy: 0.7292
Epoch 18/50
804/804 [==============================] - 1s 856us/step - loss: 0.5426 - accuracy: 0.7352 - val_loss: 0.5546 - val_accuracy: 0.7297
Epoch 19/50
804/804 [==============================] - 1s 897us/step - loss: 0.5425 - accuracy: 0.7350 - val_loss: 0.5549 - val_accuracy: 0.7308
Epoch 20/50
804/804 [==============================] - 1s 860us/step - loss: 0.5417 - accuracy: 0.7362 - val_loss: 0.5561 - val_accuracy: 0.7292
Epoch 21/50
804/804 [==============================] - 1s 851us/step - loss: 0.5421 - accuracy: 0.7363 - val_loss: 0.5562 - val_accuracy: 0.7300
Epoch 22/50
804/804 [==============================] - 1s 850us/step - loss: 0.5414 - accuracy: 0.7359 - val_loss: 0.5565 - val_accuracy: 0.7289
Epoch 23/50
804/804 [==============================] - 1s 913us/step - loss: 0.5410 - accuracy: 0.7367 - val_loss: 0.5578 - val_accuracy: 0.7291
Epoch 24/50
804/804 [==============================] - 1s 850us/step - loss: 0.5415 - accuracy: 0.7350 - val_loss: 0.5558 - val_accuracy: 0.7255
Epoch 25/50
804/804 [==============================] - 1s 846us/step - loss: 0.5407 - accuracy: 0.7364 - val_loss: 0.5549 - val_accuracy: 0.7292
Epoch 26/50
804/804 [==============================] - 1s 912us/step - loss: 0.5412 - accuracy: 0.7367 - val_loss: 0.5571 - val_accuracy: 0.7299
Epoch 27/50
804/804 [==============================] - 1s 902us/step - loss: 0.5406 - accuracy: 0.7370 - val_loss: 0.5562 - val_accuracy: 0.7266
Epoch 28/50
804/804 [==============================] - 1s 853us/step - loss: 0.5402 - accuracy: 0.7368 - val_loss: 0.5562 - val_accuracy: 0.7293
Epoch 29/50
804/804 [==============================] - 1s 856us/step - loss: 0.5402 - accuracy: 0.7368 - val_loss: 0.5568 - val_accuracy: 0.7270
Epoch 30/50
804/804 [==============================] - 1s 852us/step - loss: 0.5397 - accuracy: 0.7366 - val_loss: 0.5563 - val_accuracy: 0.7277
Epoch 31/50
804/804 [==============================] - 1s 900us/step - loss: 0.5394 - accuracy: 0.7373 - val_loss: 0.5537 - val_accuracy: 0.7279
Epoch 32/50
804/804 [==============================] - 1s 855us/step - loss: 0.5399 - accuracy: 0.7367 - val_loss: 0.5570 - val_accuracy: 0.7265
Epoch 33/50
804/804 [==============================] - 1s 849us/step - loss: 0.5396 - accuracy: 0.7373 - val_loss: 0.5581 - val_accuracy: 0.7285
Epoch 34/50
804/804 [==============================] - 1s 854us/step - loss: 0.5397 - accuracy: 0.7372 - val_loss: 0.5564 - val_accuracy: 0.7293
Epoch 35/50
804/804 [==============================] - 1s 917us/step - loss: 0.5395 - accuracy: 0.7369 - val_loss: 0.5578 - val_accuracy: 0.7287
Epoch 36/50
804/804 [==============================] - 1s 856us/step - loss: 0.5389 - accuracy: 0.7383 - val_loss: 0.5556 - val_accuracy: 0.7291
Epoch 37/50
804/804 [==============================] - 1s 855us/step - loss: 0.5392 - accuracy: 0.7372 - val_loss: 0.5589 - val_accuracy: 0.7287
Epoch 38/50
804/804 [==============================] - 1s 847us/step - loss: 0.5389 - accuracy: 0.7368 - val_loss: 0.5569 - val_accuracy: 0.7286
Epoch 39/50
804/804 [==============================] - 1s 915us/step - loss: 0.5389 - accuracy: 0.7392 - val_loss: 0.5590 - val_accuracy: 0.7250
Epoch 40/50
804/804 [==============================] - 1s 929us/step - loss: 0.5386 - accuracy: 0.7371 - val_loss: 0.5558 - val_accuracy: 0.7283
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7371 - val_loss: 0.5581 - val_accuracy: 0.7285
Epoch 42/50
804/804 [==============================] - 1s 921us/step - loss: 0.5382 - accuracy: 0.7391 - val_loss: 0.5591 - val_accuracy: 0.7275
Epoch 43/50
804/804 [==============================] - 1s 919us/step - loss: 0.5386 - accuracy: 0.7382 - val_loss: 0.5565 - val_accuracy: 0.7254
Epoch 44/50
804/804 [==============================] - 1s 853us/step - loss: 0.5377 - accuracy: 0.7378 - val_loss: 0.5562 - val_accuracy: 0.7292
Epoch 45/50
804/804 [==============================] - 1s 850us/step - loss: 0.5380 - accuracy: 0.7376 - val_loss: 0.5561 - val_accuracy: 0.7275
Epoch 46/50
804/804 [==============================] - 1s 887us/step - loss: 0.5381 - accuracy: 0.7371 - val_loss: 0.5553 - val_accuracy: 0.7284
Epoch 47/50
804/804 [==============================] - 1s 859us/step - loss: 0.5378 - accuracy: 0.7391 - val_loss: 0.5606 - val_accuracy: 0.7272
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7378 - val_loss: 0.5550 - val_accuracy: 0.7284
Epoch 49/50
804/804 [==============================] - 1s 855us/step - loss: 0.5375 - accuracy: 0.7387 - val_loss: 0.5580 - val_accuracy: 0.7258
Epoch 50/50
804/804 [==============================] - 1s 884us/step - loss: 0.5376 - accuracy: 0.7388 - val_loss: 0.5564 - val_accuracy: 0.7294

In [42]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5564 - accuracy: 0.7294 - 89ms/epoch - 331us/step
Loss: 0.5563695430755615, Accuracy: 0.7294460535049438

In [43]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity.h5")

/opt/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(